/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Abel", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px 0;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #163421;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 70%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fafafa;
}

/* Navbar style with dropdeown toggle */
nav {
    position: absolute;
    background-color: #163421;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    /* the top of the element (nav) should start at the bottom of its parent (header). 0% = top of the parent, 100% = bottom of it */
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
}

/* Main */
main {
    /* shorthand for flex-grow, flex-shrink, flex-basis > Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 60px;
}

#hero {
    height: 250px;
    width: 100%;
    background: url("../images/abstract-green-background.jpg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(214, 239, 216, 0.2);
    border: 1px solid #fafafa;
    font-size: 100%;
    position: absolute;
    width: 50%;
    padding: 25px;
}

#cover-text>h2,
#cover-text>h3,
#cover-text>p {
    color: #fafafa;
    text-align: center;
}

/* Presentation section */
#presentation {
    width: 90%;
    margin: 20px auto;
}

#presentation h2 {
    margin-bottom: 20px;
    color: #163421;
    font-size: 200%;
}

#about-me-pitch hr {
    border-top: 1px solid #163421;
    margin: 5px 0 15px 0;
}

#circle-cover-bg {
    background: url('../images/picture-me.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    margin: 20px 0;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#about-me-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button */
#about-me-button {
    background-color: #163421;
    color: #fafafa;
    padding: 10px 15px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-top: 20px;
    border-radius: 4px;
}

#about-me-button:hover {
    background-color: rgba(85, 104, 86, 0.5);
    border: 1px solid #163421;
    color: #163421;
}

/* Footer */
footer {
    background-color: #163421;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    color: #fafafa;
    font-size: 1.5rem;
    padding: 5%;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /* for items to show in a row */
        display: flex;
    }

    #menu li {
        padding-left: 2rem;
        font-size: 1.5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 200%;
        line-height: 60px;
        margin: 0 0.5rem;
    }

    /* Main */
    main {
        /* push main content down to display under larger header */
        margin-top: 80px;
    }

    #hero {
        height: 350px;
    }

    #cover-text {
        font-size: 150%;
        width: 40%;
        padding: 30px;
    }

    /* Presentation section */
    #about-me {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #presentation {
        max-width: 70%;
    }

    #about-me-pitch {
        margin-right: 20px;
        max-width: 70%;
    }

    #about-me-img {
        margin-left: 20px;
        max-width: 70%;
    }

    /* Button */
#about-me-button {
    padding: 15px 25px;
    font-size: 16px;
    margin-top: 40px;
}
}

/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #fafafa;
    }

    #hero {
        height: 400px;
    }

    #cover-text {
        font-size: 200%;
        max-width: 30%;
        padding: 35px;
    }
}