/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-family: "Abel", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px 0;
    color: #fafafa;
}

h2,
h3 {
    font-family: "Abel", sans-serif;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    padding: 10px 0;
    color: #252525;
}

.fluo-text {
    color: #e97456;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #898989;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 70%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
    color: #fafafa;
}

.active {
    border-bottom: 1.5px solid #e97456;
    padding: 2.5px;
}

/* Navbar style with dropdeown toggle */
nav {
    position: absolute;
    background-color: #898989;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    /* the top of the element (nav) should start at the bottom of its parent (header). 0% = top of the parent, 100% = bottom of it */
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #fafafa;
}

/* Main */
main {
    /* shorthand for flex-grow, flex-shrink, flex-basis > Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

#hero {
    height: 300px;
    width: 100%;
    background: url("../images/code-black-white.jpeg") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid #fafafa;
    font-size: 100%;
    width: 50%;
    padding: 25px;
}

#cover-text>h2,
#cover-text>h3,
#cover-text>p {
    color: #fafafa;
    text-align: center;
}

/* Presentation section */
#presentation {
    width: 90%;
    margin: 20px auto;
}

#presentation h2 {
    margin-bottom: 20px;
    font-size: 200%;
}

#about-me-pitch hr {
    border-top: 1px solid #252525;
    margin: 5px 0 15px 0;
}

#circle-cover-bg {
    background: url('../images/picture-me-black-white.jpeg') no-repeat top center / cover;
    transform: scaleX(-1);
    height: 90vw;
    width: 90vw;
    margin: 20px 0;
    /* Makes the square image into a circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#about-me-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button */
#about-me-button {
    background-color: #e97456;
    color: #fafafa;
    padding: 10px 15px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
}

#about-me-button:hover {
    background-color: #fafafa;
    border: 1px solid #e97456;
    color: #e97456;
}

/* Skills section */
#skills {
    width: 90%;
    margin: 20px auto;
}

#skills h2 {
    margin-bottom: 20px;
    font-size: 200%;
}

#skills-detail-blue,
#skills-detail-beige,
#skills-detail-orange {
    color: #fafafa;
    padding: 10px;
    display: flex;
}

#skills-detail-blue {
    background-color: #505e7c;
}

#skills-detail-beige {
    background-color: #b4a797;
}

#skills-detail-orange {
    background-color: #e97456;
}

.skills-detail h3 {
    margin-bottom: 2px;
    font-size: 1.2rem;
}

.skills-detail-list li {
    list-style-type: none;
    font-size: 1rem;
    margin: auto 10px;
    padding: 3px;
}

.skills-detail-icone i {
    font-size: 1.5rem;
    margin: auto 10px;
    padding-top: 3px;
}

/* Contact page */
#contact {
    background: url("../images/contact-email-black-white.jpeg");
    background-size: cover;
    padding: 20% 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid #fafafa;
    color: #505e7c;
    font-weight: 500;
    padding: 30px;
    max-width: 400px;
}

#contact-form>h2 {
    margin-bottom: 20px;
    font-weight:600;
    color: #e97456;
}

.text-input,
.text-area {
    background: transparent;
    color: #505e7c;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.submit-button {
    margin-top: 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #e97456;
    color: #fafafa;
}

/* Footer */
footer {
    background-color: #898989;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    color: #fafafa;
    font-size: 1.5rem;
    padding: 5%;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /* for items to show in a row */
        display: flex;
    }

    #menu li {
        padding-left: 2rem;
        font-size: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        line-height: 60px;
        margin: 0 0.5rem;
    }

    #hero {
        height: 400px;
    }

    #cover-text {
        font-size: 120%;
        width: 45%;
        padding: 30px;
    }

    /* Presentation section */
    #about-me {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    #presentation {
        max-width: 85%;
    }

    #about-me-pitch {
        margin-right: 20px;
        max-width: 70%;
    }

    #about-me-img {
        margin-left: 20px;
        max-width: 70%;
    }

    /* Button */
    #about-me-button {
        padding: 15px 25px;
        font-size: 16px;
        margin-top: 40px;
    }

    /* Form */
    #contact {
        background-position: center;
        position: relative;
    }

    #contact-form {
        max-width: 400px;
        position: absolute;
        right: 10%;
        top: 150px;
    }

    .text-input:hover, .text-area:hover {
        border-color: #e97456;
    }
    
    .submit-button:hover {
        background-color: #fafafa;
        color: #e97456;
    }
}

/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #fafafa;
    }

    #hero {
        height: 450px;
    }
}