/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    font-family: "Montserrat", sans-serif;
}

.hidden-heading {
    display: none;
}

/* Header */
header {
    background-color: #2F3645;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 0;
}

#menu {
    font-size: 80%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #fafafa;
}

/* Navbar style with dropdeown toggle */
nav {
    position: absolute;
    background-color: #2F3645;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    /* the top of the element (nav) should start at the bottom of its parent (header). 0% = top of the parent, 100% = bottom of it */
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}


/* Main */
main {
    background-color: #C7C8CC;
    /* shorthand for flex-grow, flex-shrink, flex-basis > Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 69px;
}

/* Footer */
footer {
    background-color: #2F3645;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    color: #fafafa;
    font-size: 1.5rem;
    padding: 5%;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        /* for items to show in a row */
        display: flex;
    }

    #menu li {
        padding-left: 2rem;
        font-size: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 250%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Main */
    main {
        /* push main content down to display under larger header */
        margin-top: 95px;
    }
}

/* Media query: laptops and larger screens (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #fafafa;
    }
}